@using DevExtremeAspNetCoreApp1.Models.Ef

@model IEnumerable<DataList>
@*<a asp-action="GetAProduct" class="btn btn-primary">Get A Product</a>*@
<a asp-action="GetAll" id="getValueButton" asp-route-malKodu="" class="btn btn-success mb-1 waves-effect waves-light">
    Yeni Ürün
</a>
<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Date</div>
        <div class="dx-field-value">
            @(Html.DevExtreme().DateBox()
            .ID("DateValue")
                .Type(DateBoxType.Date)
                .Value(DateTime.Now)
                )
        </div>
    </div>

</div>
<div id="selectbox-demo">
    <div class="widget-container">
        <div class="dx-fieldset">
            <div class="dx-fieldset-header">SearchBox</div>
            <div class="dx-field">
                <div class="dx-field-label">Product</div>
                <div class="dx-field-value">
                    @(Html.DevExtreme().SelectBox()
                        .ID("search-box")
                        .DataSource(d => d
                        .Mvc()
                        .LoadAction("GetAllSTK")
                        .LoadMode(DataSourceLoadMode.Raw)
                        .Key("Id")
                        )
                        .DisplayExpr("MalKodu")
                        .ValueExpr("Id")
                        .SearchEnabled(true)
                        .OnSelectionChanged("selection_changed")
                        .ElementAttr("MalKodu")
                        )
                        
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.DevExtreme().DataGrid<DataList>()
        .DataSource(Model, new[] { "SiraNo" })
        .Selection(s => s.Mode(SelectionMode.Single))
        .HoverStateEnabled(true)
        .ShowBorders(true)
        .Columns(columns =>
        {
            @*        columns.AddFor(m => m.SiraNo)
                .Width(0);*@

            columns.AddFor(m => m.SiraNo);
            columns.AddFor(m => m.IslemTurString);
            columns.AddFor(m => m.EvrakNo);
            columns.AddFor(m => m.Tarihh);
            columns.AddFor(m => m.GirisMiktar);
            columns.AddFor(m => m.CikisMiktar);
            columns.AddFor(m => m.Stok);

        })
        @*.OnSelectionChanged("selection_changed")*@

        )
<div id="employeeInfo">
    <img class="employeePhoto" />
    <p class="employeeNotes"></p>
</div>

<script>
    function selection_changed(selectedItems) {
        debugger;
        var aaa = selectedItems.selectedItem.Id;
        $("getValueButton").attr("asp-route-malKodu", aaa)
        //var data = selectedItems.selectedRowsData[0];
        //if (data) {
        //    $(".employeeNotes").text(data.Notes);
        //    $(".employeePhoto").attr("src", data.Picture);
        //}
    }
</script>
